body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    text-align: center;
}

/* Estilo do link normal */
a {
    color: #ffffff;  /* Cor branca para o link */
    text-decoration: none;  /* Remove o sublinhado do link */
}

/* Estilo do link quando o usuário passa o mouse sobre ele */
a:hover {
    color: #ffffff;  /* Cor branca no hover */
    text-decoration: underline;  /* Adiciona o sublinhado ao passar o mouse */
}

/* Estilo do link visitado */
a:visited {
    color: #ffffff !important; /* Cor branca para links visitados */
}