<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial do meu Projeto</title>
</head>
<body>
    <h1>{{ saudacao }}</h1>
    <h1>Bem-vindo ao meu site, {{ nome }}!</h1>
    <p>Esta é a nossa primeira página utilizando HTML no Django</p>
    
    <!-- Link para o site de jogos -->
    <p><a href="{% url 'projeto' %}">Clique aqui para acessar o site de jogos</a></p>
</body>
</html>
